@charset "UTF-8";

@media screen and (min-width: 1200px){
    
    main {
        padding: 50px 30px;
    }

    main img {
        width: 90px;
    }

    main a {
        padding: 5px 70px;
        font-size: 14px;
    }
}