@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

body{
    font-family: Inter;
    background-color: hsl(0, 0%, 8%);
}

main {
    width: 300px;
    background-color: hsl(0, 0%, 12%);  
    padding: 40px 20px;
    border-radius: 10px;
    line-height: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main img {
    border-radius: 100%;
    width: 80px;
}

main h1 {
    font-size: 1.4em;
    color: white;
}

main h2 {
    font-size: 0.9em;
    color: hsl(75, 94%, 57%);
}

main h3 {
    color: hsl(0, 0%, 54%);
    font-size: 0.8em;
}

main a  {
    display: block;
    list-style: none;
    font-size: 13px;
    color: hsl(0, 0%, 76%);
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    padding:  2px 70px;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
}

main a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    transition-duration: 0.2s;
}

div.links {
    display: flex;
    flex-direction: column;
    text-align: center;
}